<ion-header>
  <ion-toolbar>
    <ion-title>Órdenes de Trabajo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center">
      <ion-card-title>
        <ion-label>
          <h1>Modificar ODT</h1>
        </ion-label>
      </ion-card-title>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="tituloNoticia"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Detalle de la ODT</ion-label>
          <ion-input type="text" [(ngModel)]="textoNoticia"></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-button shape="block" (click)="editar()">Guardar ODT</ion-button>
    </ion-card>

  </div>
</ion-content>
