<ion-header>
  <ion-toolbar>
    <ion-title>Ingreso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../assets/img/logo_transparent.png"></ion-img>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block" [routerLink]="['/inicio']">Ingresar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>